@keyframes zooming {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Aumenta em 10% o tamanho original */
  }
  100% {
    transform: scale(1);
  }
}

html,
body {
  overflow: hidden;
  min-height: 100vh;

  margin: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .img-fluid {
    max-width: 100% !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .img-fluid {
    max-width: 80% !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .img-fluid {
    max-width: 50% !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .img-fluid {
    max-width: 50% !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .img-fluid {
    max-width: 50% !important;
  }
}

header {
  /* background: #248dd5; */
  height: fit-content;
  .product-name {
    font-size: 30px;
  }
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.subtitle {
  font-weight: 400 !important;
  font-size: 18px !important;
}

.zooming {
  animation: zooming 1s ease infinite;
}

.lista {
  background-image: url(./images/background-red.jpeg);
  background-size: cover;
}

li {
  list-style: none;
}

.promo {
  color: #eb161a;
  font-weight: bold;
}

.line-through {
  text-decoration: line-through;
}

.number {
  background-color: #6e1e1f;
  color: white;
  border-radius: 50%;
  width: 40px;
  line-height: 40px;
  height: 40px;
  font-weight: bold;
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7em;
}

.lista-2 {
  background-image: url(./images/background-red-2.jpeg);
  background-size: cover;
}

.yellow {
  color: #f5de38;
}

.green {
  color: green;
}

.square {
  background-color: yellow;
  color: #000;
  width: fit-content;
}

.card-img-top {
  height: 350px;

  object-fit: cover;
}

.red-tag {
  background-color: #eb161a;
}

.social-prove img {
  height: 300px;
  margin: 10px;
  object-fit: contain;
}

.red {
  color: #eb161a;
}

footer {
  background: #183c5c;
  color: #fff;
  text-align: center;

  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.footer-text {
  font-size: 14px;
  opacity: 0.8;
}

.btn-call {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 60px;
  border: 2px solid #ffd700; /* Cor da borda amarela */
  color: #333;
  background-color: #ffd700; /* Cor de fundo amarela */
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.btn-call:hover {
  background-color: #333; /* Cor de fundo branca ao passar o mouse */
  color: #ffd700; /* Cor do texto amarela ao passar o mouse */
  transform: scale(1.05); /* Efeito de escala ao passar o mouse */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3); /* Sombra mais pronunciada ao passar o mouse */
}
